@page
@model BlogIdentity.Pages.CreateModel
@{
}

<form method="post">
    <input asp-for="Title" class="form-control" />
    
    <br />
    <button class="btn btn-primary">Submit</button>
    <a class="btn btn-link" asp-page="/blogs/index">Back to List</a>
</form>