@page "{continent?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model.Blogs)
        {
            <tr>
                <td>@blog.Id</td>
                <td>@blog.Name</td>
                <td>@blog.Posts.Count()</td>
               
            </tr>
        }
    </tbody>
</table>